    <h3 id="reset">Change Password</h3>

    <form name="changePassForm" id="changePassForm">
        <div class="form-group"
             ng-class="{ 'has-error' : changePassForm.email.$invalid && (!changePassForm.email.$pristine || changePassForm.email.$touched)}">
            <label class="email">Email</label>
            <input type="email" id="emailField" name="email" class="form-control" placeholder="Your Email..."
                   ng-model="email" required>

            <p ng-show="changePassForm.email.$error.email && !changePassForm.email.$pristine" class="help-block errorEmail">
                Enter a
                valid email.</p>

            <p ng-show="changePassForm.email.$error.required && changePassForm.email.$touched"
               class="help-block enterEmail">We need to
                know your email!</p>
        </div>


        <div class="form-group"
             ng-class="{'has-error' :changePassForm.oldPass.$invalid && changePassForm.oldPass.$touched}">
            <label for="oldPass">Old Password:</label>
            <input type="password" name="oldPass" class="form-control" id="oldPass" ng-model="user.oldPass" required>

            <p ng-show="changePassForm.oldPass.$invalid && changePassForm.oldPass.$touched"
               class="help-block enterPassword">
                Old Password is required.</p>
        </div>

        <!--PASSWORD VALIDATION-->
        <div class="form-group"
             ng-class="{'has-error' :changePassForm.newPass.$invalid && changePassForm.newPass.$touched}">
            <label for="newPass">New Password:</label>
            <input type="password" name="newPass" class="form-control" ng-model="user.newPass" required>

            <p ng-show="changePassForm.newPassword.$invalid && changePassForm.newPassword.$touched"
               class="help-block enterConfirmPassword">New Password is required.</p>
        </div>

        <!--CONFIRM PASSWORD VALIDATION -->
        <div class="form-group"
             ng-class="{'has-error' :changePassForm.confirmNewPass.$invalid && changePassForm.confirmNewPass.$touched}">
            <label for="confirmNewPass">Confirm New Password:</label>
            <input type="password" name="confirmNewPass" class="form-control"
                   ng-model="user.confirmNewPass" ng-change="checkPass()" required>

            <!--checks if both both passwords are equal-->
            <p ng-show="showPasswordsDoNotMatch" class="help-block passwordMatch">Passwords do not match.</p>

            <p ng-show="changePassForm.confirmNewPass.$invalid && changePassForm.confirmNewPass.$touched"
               class="help-block enterConfirmPassword">Type in your new password.</p>
        </div>

        <!--change password button-->
        <button class="btn btn-primary" type="submit" name="submit"
                ng-disabled="changePassForm.$invalid || showPasswordsDoNotMatch"
                ng-model=" submitFormButton" ng-click="changePass()">Change Password
        </button>
        <!--end of the form-->
    </form>

