<!--  <div id="previewContainer">
            <div class="homePreview" ng-repeat="obj in shelterList| orderBy: '-timestamp'"> -->
<!--                 <i class="{{obj.icon}}"></i> -->
                <!-- <a ui-sref="review({school:obj.institution.INSTNM, name:obj.name, id:obj.$id})"> --><!-- <b>{{obj.name}}</b>

                    <p id="shelterAddress">{{obj.address}</p></a>
            </div>
</div> -->


<div ng-repeat="obj in shelterList">
	<p>{{obj.name}}</p>
	<p>{{obj.address}}</p>
</div>