<!--  <div id="previewContainer">
            <div class="homePreview" ng-repeat="obj in shelterList| orderBy: '-timestamp'"> -->
<!--                 <i class="{{obj.icon}}"></i> -->
                <!-- <a ui-sref="review({school:obj.institution.INSTNM, name:obj.name, id:obj.$id})"> --><!-- <b>{{obj.name}}</b>

                    <p id="shelterAddress">{{obj.address}</p></a>
            </div>
</div> -->


<div id="shelter" class="col-lg-3" ng-repeat="obj in shelterList">
	<p id="shelterName"><b>{{obj.name}}</b></p>
	<hr>
	<p>Address: {{obj.address}}, {{obj.zip}}</p>
	<p>Amenities: {{obj.desc}}</p>
</div>